.btn {
  display: inline-block;
  border: none;
  border-radius: var(--radius-card);
  background-color: transparent;
  font-family: inherit;
  font-size: var(--font-size-lg);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: background-color var(--transition-base);

  @media (min-width: 768px) {
    font-size: var(--font-size-xl);
    line-height: 34px;
  }
}

.btn--primary {
  inline-size: 100%;
  padding-block: var(--indent-4);
  background-color: var(--color-purple-dark);
  color: var(--color-text-light);
  line-height: 24px;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: var(--color-purple-bright);
  }

  &:active {
    opacity: 0.6;
  }
}
