.features {
  margin-block-start: 72px;
  padding-block-start: 60px;
  background-color: #FBF9F9;
}

.features__title { margin-block: 0 var(--indent-8);


  font-size: var(--font-size-xxl);
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: var(--indent-3);
  margin-block: 0 58px;
  padding-inline: var(--indent-7);
  list-style-type: none;
  text-align: start;
}

.features__item {
  padding-inline-start: 44px;
}

.features__btn {
  margin-block-end: 190px;
}
