.pickup {
  margin-block-end: 60px;
  padding-block-start: var(--indent-8);

  & iframe {
    inline-size: 100%;
    block-size: 372px;
    border: 0;
  }
}

.pickup__title {
  margin-block: 72px 70px;
  font-size: var(--font-size-xxl);
}

.pickup__text {
  margin-block: 0 34px;
  padding-inline: var(--indent-6);
}

.pickup__contacts {
  padding-inline: var(--indent-6);
  padding-block-end: var(--indent-3);
  font-size: var(--font-size-sm);
  font-style: normal;
  text-align: start;

  & p {
    margin-block: 0 var(--indent-3);
    padding-inline-start: 36px;
    padding-block: 6px;
  }
}
