.socials {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent-5);
  padding-inline-start: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    gap: var(--indent-8);
  }
}

.socials__item {
  inline-size: var(--indent-8);
  block-size: var(--indent-8);

  @media (min-width: 768px) {
    inline-size: 40px;
    block-size: 40px;
  }
}

.socials__link {
  display: block;
  inline-size: var(--indent-8);
  block-size: var(--indent-8);
  background-color: var(--color-green-dark);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: var(--color-green-bright);
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: 768px) {
    inline-size: 40px;
    block-size: 40px;
  }
}

.socials__link--tg {
  mask-image: url("../../icons/telegram.svg");
}

.socials__link--vk {
  mask-image: url("../../icons/vkontakte.svg");
}

.socials__link--yt {
  mask-image: url("../../icons/youtube.svg");
}
